{% extends "base.html" %}

{% load widget_tweaks %}

{% block conteudo %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="container">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ nome_pagina }}</h1>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">
            <h4 class="mb-3 text-primary">
                Formulário para atualizar Sócios
            </h4>
            <p class="mb-5 ml-l">
                <small>
                    O asterisco (*) indica que o campo é obrigatório
                </small>        
            </p>   
            
            {% if form.errors %}
                {% for field in form %}
                    {% if field.errors %}
                        {% for erro in field.errors %}
                            <div class="alert alert-warning" role="alert"> 
                                {{ erro }}
                            </div>
                        {% endfor %}        
                    {% endif %}
                {% endfor %}

            {% endif %}
            
            <form method="post" >
                <div class="form-row">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group col-md-12">
                            <label>{{ field.label }} {% if field.field.required %} * {% endif %}</label>
                            {% render_field field placeholder=field.label class="form-control" %}
                            
                        </div>     
                    {% endfor %}
                </div>
                <div class="text-right">
                    <a href="{% url 'index' %}" class="btn btn-secondary text-white" type="button">
                        <span class="text">Cancelar</span>
                    </a>
                    
                    <button class="btn btn-primary" type="button" id="buscar_cep">Buscar CEP</button>
                    <button class="btn btn-primary" type="submit">
                        <span class="text">Alterar Sócio</span>                         
                    </button>        
                    <input type="hidden" name="foto" id="id_foto">
                </div>    
            </form>   
            <br>
            <button id="capturar-foto">Capturar Foto</button>
            <button id="reativar-camera">Reativar Câmera</button>
            <br>
            <video id="video" width="640" height="480" autoplay style="margin-top: 10px;"></video>
            <canvas id="canvas" width="640" height="480" style="display:none;"></canvas>
        
            <script>
                $(document).ready(function () {
                    var video = document.getElementById('video');
                    var cameraActive = true;
                    
                    function startCamera() {
                        navigator.mediaDevices.getUserMedia({ video: true })
                        .then(function (stream) {
                            video.srcObject = stream;
                            video.play();
                        })
                        .catch(function (err) {
                            console.log("Erro ao acessar a câmera: " + err);
                        });
                    }
        
                    $('#capturar-foto').click(function () {
                        var canvas = document.getElementById('canvas');
                        var context = canvas.getContext('2d');
                        context.drawImage(video, 0, 0, canvas.width, canvas.height);
        
                        // Parar a transmissão de vídeo
                        var stream = video.srcObject;
                        var tracks = stream.getTracks();
                        tracks.forEach(function(track) {
                            track.stop();
                        });
        
                        // Exibir a última frame do vídeo
                        video.pause();
                        canvas.style.display = 'block';
                        video.style.display = 'none';
        
                        // Converter a imagem do canvas para um arquivo e atribuir ao campo de foto
                        canvas.toBlob(function(blob) {
                            var file = new File([blob], 'captura.jpg', { type: 'image/jpeg' });
                            var formData = new FormData();
                            formData.append('foto', file, 'captura.jpg');
                            $('#foto').val(file.name).hide(); // Definir o nome do arquivo no campo de foto do formulário e ocultá-lo
                        });
        
                        $('#capturar-foto').hide();
                    });
        
                    $('#reativar-camera').click(function () {
                        startCamera();
                        $('#camera-view').html('<video id="video" width="640" height="480" autoplay style="margin-top: 10px;"></video><canvas id="canvas" width="640" height="480" style="display:none;"></canvas>');
                        $('#capturar-foto').show();
                    });
        
                    // Iniciar a câmera
                    startCamera();
                });
            </script>
 
            <script>
            $(document).ready(function() {
                $('#buscar_cep').click(function() {
                    var cep = $('#id_cep').val().replace(/\D/g, '');
                    if (cep.length == 8) {
                        $.ajax({
                            url: `https://viacep.com.br/ws/${cep}/json/`,
                            dataType: 'json',
                            success: function(response) {
                                $('#id_logradouro').val(response.logradouro);
                                $('#id_bairro').val(response.bairro);
                                $('#id_cidade').val(response.localidade);
                                $('#id_estado').val(response.uf);
                            }
                        });
                    } else {
                        alert('Por favor, digite um CEP válido.');
                    }
                });
            });
            </script> 
        </div>
    </div>
</div>
{% endblock conteudo %}
