{% extends "base.html" %}
{% block conteudo %}
<div class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4">
  <h2 class="m-0 font-weight-bold text-info">Alterar Sócios</h2>
</div>
<ul>
                    
  <form method="GET" action="{% url 'lista_socios_altera' %}" class="form-inline">
    {% csrf_token %}
    <div class="form-group mr-4">

      {{ form.as_p  }}
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
  </form>

  {% for socio in socio %}
    <li>
      <a href="{% url 'editar_socio' socio.id %}">{{ socio.nome }} - {{socio.email}} - {{socio.tpsocio}}
  
      </a>
    </li>
  {% endfor %}
</ul>

{% endblock conteudo%}
